form {
   
    width:800px;
    margin:auto;
    margin-top:40px;
}

.form-control {

    
    margin:auto;

}

.form-label {
    color:white;
    margin-left:400px;
}

#psw {
    margin-left:20px;
}

button {
    margin-left:410px;
}